/*
* TODO
* ---
*/


/* Utility */
@font-face {
	font-family: 'LCDN';
	src: url('./LCDN.eot');
	src: local('LCDN'), url('./LCDN.woff') format('woff'), url('./LCDN.ttf') format('truetype');
}

* {
  margin: 0px;
  padding: 0px;
	box-sizing: border-box;
}

body {
  font-size: 18px;
	background: #fefbd8;
}
p {
  text-align: center;
}

.row,
.container {
	margin: 0;
	padding: 0;
}

/* Parte in plastica*/
.calcolatrice {
border-radius: 20px;
border: 1px solid #666;
/*background: rgb(163, 163, 163);*/
background: #618685;
-webkit-box-shadow: inset 0px -4px 11px 3px rgba(50, 50, 50, 0.34);
-moz-box-shadow:    inset 0px -4px 11px 3px rgba(50, 50, 50, 0.34);
box-shadow:         inset 0px -4px 11px 3px rgba(50, 50, 50, 0.34);
margin: 4% auto;
height: 545px;
width: 320px;
padding-right: 25px;
padding-left: 25px;
}


.operation p,
.result p {
  text-align: right;
}

.result p {
  font-size: 40px;
}


.lcd {
  background: #cccccc;
  color: #666666;
  font-family: LCDN;
  border-radius: 10px;
  margin: 20px auto;
	border: 3px solid #999999;



}

/* Pulsantiera */
.pulsantiera {
}

.col-xs-9,
.col-xs-3 {
	padding: 0;
}

.tasti {
  /*width: 50px;*/
	box-sizing: border-box;
	width: 60px;
	height: 53px;
	margin: 10px 3.5px;
	border-radius: 12px;
	font-size: 30px;
  background: #333333;
  color: #ddd;
  font-weight: bold;
  -webkit-box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.49);
  -moz-box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.49);
  box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.49);
}

.res {
  height: 125px;
		padding-top: 40px;
}

.zero {
	width: 127px;
}

.ac,
.ce {
  font-size: 25px;
	padding-top: 8px;

}

/* Effetti */
.ombra {
	background: rgb(43, 43, 43);
	background: -moz-linear-gradient(90deg, rgb(43, 43, 43) 83%, rgb(81, 81, 81) 100%);
	background: -webkit-linear-gradient(90deg, rgb(43, 43, 43) 83%, rgb(81, 81, 81) 100%);
	background: -o-linear-gradient(90deg, rgb(43, 43, 43) 83%, rgb(81, 81, 81) 100%);
	background: -ms-linear-gradient(90deg, rgb(43, 43, 43) 83%, rgb(81, 81, 81) 100%);
	background: linear-gradient(180deg, rgb(43, 43, 43) 83%, rgb(81, 81, 81) 100%);
	}

.premuto {
  -webkit-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.49);
  -moz-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.49);
  box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.49);
  margin-top: 13px;
}

/* Footer (copyrigth)*/
.footer p {
  color: #999;
  font-size: 16px;
  font-style: italic;
}
